footer
	.wrapper.outer
		.flex
			a.logo(href="/"): img(src="img/logo-white.svg" alt="Rebel Makers Logo")
			ul
				li: a(href="https://github.com/RebelUncut/rebelmakers.co.uk", target="_blank") Github (we accept PRs)
				li: a(href="http://rebellabs.co.uk", target="_blank") Rebel Labs
				li: a(href="mailto:rebellion@rebeluncut.co.uk") Contact