footer
	.wrapper.outer
		.flex
			a.logo(href="http://rebellabs.co.uk")
				img(src="img/rebellabswhite.svg" alt="Rebel Labs Logo")
			ul
				li: a(href="https://github.com/RebelUncut/rebelmakers.co.uk", target="_blank") Github (we accept PRs)
				li: a(href="http://rebellabs.co.uk", target="_blank") A Rebel Labs Project
				li: a(href="mailto:rebellion@rebeluncut.co.uk") Contact
	#join
		h2 #JoinTheRebellion