header
	.wrapper.outer
		.flex
			a.logo(href="/")
				img(src="img/logo-white.svg" alt="Rebel Makers Logo")
			.copy
				h1 Playing, building, learning. For everyone.
				h2 A project by #[a(href="http://rebellabs.co.uk", target="_blank") Rebel Labs].
ul.nav
	.toggle-menu
		a Show Menu
	.wrapper.outer
		li: a(href="/") Home
		li: a(href="/ethos") Ethos
		li: a(href="/clubs") Clubs
		li: a(href="/new") Run your own