extends layout

block vars
	- var pageTitle = "Ethos"
	- var pageClass = "ethos"

block content

	.wrapper.outer

		.page-title 
			h1 Ethos

		section#copy

			:marked
				Rebel Makers is project run by Rebel Labs, and as such is bound by the values that underpin and inspire Rebel Labs as a community interest company, and an organisation committed to creating positive opportunities for all. 
				
				Rebel Makers is committed to:

				* empowering people to learn and try new things
				* enabling people to share their skills to help others learn 
				* building networks that will lead to new friendships and opportunities 

				Above all, we hope that our community will feel able to use their experience at Rebel Makers to make a difference - however big or small - to their own life, or to the lives of others.

				# We are Inclusive
				
				In creating Rebel Makers, Rebel Labs have made a commitment to providing a fun, free and safe environment for everyone to explore technology, in the hope this will lead to positive experiences and opportunities for all. 

				Rebel Makers is, and will always remain, open and free for everyone. All persons are welcome and encouraged to become Rebels regardless of their age, ability, need, background, culture, religion, gender, sexual orientation or economic circumstance. 

				Our Rebellion is guided by this inclusive practice, through which we strive to best represent and celebrate the diversity in our society and promote positive attitudes to our differences. 
