extends layout

block content
    .page
        .content
            .inner
                a.logo(href="http://rebeluncut.co.uk")
                    img(src="/img/logo-white.png")
                h1 Rebel Makers
                h2 Rebel Makers is a monthly club for everyone who's interested in programming, electronics and digital production - regardless of age or skill level.
                a.next(href="http://www.eventbrite.com/e/rebel-makers-late-november-2015-tickets-19130108670?aff=eac2") Next club is on November 28th 2015