extends layout

block content
    .page
        .content
            .inner
                a.logo(href="http://rebeluncut.co.uk")
                    img(src="/img/logo-white.png")
                h1 Rebel Makers
                h2 Rebel Makers is a monthly club for everyone who's interested in programming, electronics and digital production - regardless of age or skill level.
                a.next(href="https://www.eventbrite.co.uk/e/rebel-makers-late-january-2016-tickets-19800217985") Next club is on January 30th 2016
