extends layout

block vars
	- var pageTitle = "New Club"
	- var pageClass = "new-club"

block content

	.wrapper.outer

		.page-title 
			h1 Running your own club

		section#copy

			:marked
				## What kind of person do you need to be?

				* a people person
				* passionate about making a difference 
				* passionate about helping others make that difference 

				## What kind of environment you need to create

				* Free to attend - exactly what it says on the tin. You'll need to find a free-to-use space (we can totally advise on this) 
				* Open - all age groups, abilities and backgrounds working together in the same space 
				* Fun - sure, this will mean different things to different people. But the most important thing is to create a relaxed atmosphere where everyone feels empowered to speak up and have a laugh. It's never formal. It's never school or work. 

				## What support you'll get from the Rebel Labs team *

				* Help in finding a suitable venue
				* Sharing any and all knowledge we have about how to make a club successful

				## What you can do to make your Rebel Makers even more awesome

				* Workshops
				* Group projects
				* Hardware Hub 

				If all of this sounds just right, we'd love you to get in touch. Drop us an email at the address below, giving us a quick introduction to you and the Club you'd like to start. We'd also love to hear from you if you'd like to investigate turning your existing initiative into a Rebel Makers Club. 

			p: a.email-us(href="mailto:rebellion@rebeluncut.co.uk") Email us by clicking here to start the conversation!

			<em>* we're doing everything we can to make Rebel Makers Club a sustainable and scalable social enterprise, so that everyone involved can have autonomy over something they are proud to grow. One of the ways we are hoping to achieve this is through applying for funding. If successful, this funding will allow us to help you in more structured ways, for example we’d love to help every Rebel Makers Club start a Hardware Hub by providing essential kit. This is something we'll be completely transparent about, and will keep you updated on every step of the way.</em>
